
@media screen and (max-width: 768px){
  .collapse{
    display: none;
  }

}
/* .blog-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 20px;
  margin-top: 15px;
  line-height: 1.6;
  overflow: hidden;
}  */

  
.blog-splitter{
  border-bottom: 1px solid #20A9DE;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 20px;
  margin-top: 20px;
}
  
  
  @media screen and (max-width: 768px){


    .blog-info-topic{
      position: absolute;
      padding-top: 2px;
      text-align: left;
      align-content: center;
      width: 100%;
      max-height: 120px;
      max-width: 400px;
      justify-content: center;
      padding-left: 5%;
      padding-right: 5%;
      overflow: hidden;
      opacity: 70%;
      background-color: grey;
    }
  }
  

  
  .blog-info{
    max-width: 500px;
    max-height: 200px;
    margin-left: 0px;
    color: white;
  }
  @media screen and (min-width: 768px){
    .article-wrap{
      grid-template-columns: 1fr 4fr 1fr;
      gap: 2.5rem 25px;
    }
  }
  
  .article-wrap{
    /* margin-left: 0; */
    display: grid;
    /* grid-template-rows: auto 1fr auto; */
    /* position: relative; */
    /* padding: 5px; */
    max-width: 1200px;
    width: 100%;
    margin: 3.5rem auto;
    
    /* align-items: center; */
  
  
  }
  @media screen and (max-width: 768px){
    .article-left{
      overflow: hidden;
      z-index: 1000;
      display: none;
      /* position: relative; */
      /* margin-right: 100px; */
    }
  }
  .article-left{
    overflow: hidden;
  
    /* position: relative; */
    /* margin-right: 100px; */
  }
  
  .article-mid{
    position: relative;
    display: inline;
    grid-column: 2 / -2;
    /* so when shrink no overlap */
    overflow: hidden;
    padding: 10px;
  
  
    /* margin-left: 100px;
    margin-right: 100px; */
  }
  @media screen and (max-width: 768px){
    .article-right{
      display: none;
      /* position: relative; */
      /* margin-right: 100px; */
    }
  }
  .article-right{
    /* margin-left: 150px; */
    position: relative;
    display: inline;
    grid-column: 3 / -1;
    overflow: hidden;
    padding: 40px;
    
  }
  
  .article-entry{
    position: relative;
  }
  .entry-top{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }
  .entry-top-left{
    display: inline-block;
    position: relative;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    /* width: 160px; */
    background-color: rgb(64, 64, 66);
  
  }
  .entry-top-mid{
    display: inline-block;
    margin-left: 10px;
    padding-top: 10px;
    color: #20A9DE;
  }
  @media screen and (min-width: 768px){
    .entry-top-right{
      display: inline-block;
      margin-left: auto;
      margin-top: 10px;
    }
  }
  .entry-top-right{
    display: inline-block;
    align-items: flex-end;
    margin-top: 10px;
  }
  .article-title{
    color: white;
  }
  .article-author{
    color: #20A9DE;
  }
  .article-image{
    padding-top: 10px;
    padding-bottom: 60px;
  }
  .article-content{
    color: white;
  }
  .media-title{
    margin-left: 320px;
    padding-top: 100px;
    padding-bottom: 20px;
    color: whitesmoke;
  }
  .media-stream{
    background-color: black;
    height: 680px;
  }
  .media{
    margin-left: 320px;
  }
  .media-info {
    width: 800px;
    margin-left: 320px;
  }
  .media-about{
    padding-top: 15px;
    padding-top: 20px;
    color: white;
  }
  .splitter{
    border-bottom: 1px solid #20A9DE;
    width: 200px;
    margin-bottom: 20px;
  }
  
  .about-item{
    padding-top: 10px;
    color: #20A9DE;
  }

  
  .share-logos{
    /* position: -webkit-sticky; Safari */
    /* position: sticky; */
    margin-top: 150px;
  }
  
  .share-links{
    list-style-type:none;
  }
  
  .share-link{
    margin-bottom: 20px;
    opacity: 88%;
  }
  @media screen and (max-width: 768px){
    .about-article{
      display: none;
  
    }
  }
  .about-article{
  
    /* border: 1px solid #91013D; */
    height: auto;
    width: auto;
    border-radius: 25px;
    position: absolute;
    z-index: 10;
    opacity: 70%;
  
  }
  
  .about-article-cover{
    background-color: rgb(31, 34, 37);
    height: 130px;
    width: 150px;
    position: absolute;
    z-index: 30;
    opacity: 100;
    display: flex;
  
  }
  
  * {
    box-sizing: inherit;
  }
  
  .comments-wrapper{
    position: relative;
    margin-top: 25px;
    padding-top: 25px;
    width: 100%;
    color: white;
    /* background-color: rgb(83, 81, 81); */
  
  }
  
  
  .comment-wrapper{
    display: grid;
    grid-template-columns: 1fr 7fr;
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgb(56, 67, 77);
  }
  
  .comment-left{
    position: relative;
    display: inline;
    padding-bottom: 20px;
    padding-right: 5px;
  }
  
  .comment-right{
    display: inline;
    color: white;
  }
  .comment-header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-bottom: 10px;
  }
  
  .comment-created{
    padding: 2px;
    color: #20A9DE;
  }
  
  .comment-splitter{
    border-bottom: 1px solid rgb(12, 16, 17);
    width: 50%;
    height: 10px;
    margin-left: 25%;
    margin-bottom: 20px;
    margin-top: 20px;
  
  }
  
  .bloglist-wrap{
    padding-top: 100px;
    position: absolute;
    overflow:visible;
  }
  
  .nav-button-wrap{
    justify-content: center;
  }
  
  

  
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
