<div class="login-wrap">
    <div class="login-form">
      <div class="login-header" >
          Login
      </div>
    
      <input class="email-field" #email type='text' placeholder='email'>
      <input class="password-field" #password type='password' placeholder='password'>
      <div class="login-btn">
        <button  (click)="login(email.value, password.value)">Login</button>
      </div>
      <a routerLink="/signup">
        <button class="btn"> Register </button>
      </a>
      
      <!-- <p>{{ error?.message }}</p>
      <p *ngIf="error">{{ error?.error | json }}</p> -->

      <!-- <button (click)="refreshToken()">refresh token</button> -->
    </div>
      
</div>


