<nav class="navbar">
            

    <div class="navbar-brand">
        <!-- <Link to='/'> -->
            <!-- <img src={require("./static/logo28.png")} width="185" height="35" alt="" />
        </Link> -->
    </div>


    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <div class="nav-buttonwrap">
                <p class="nav-link button" to="/">
                    Blogs
                </p>
            </div>
        </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent15"
            aria-controls="navbarSupportedContent15" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>