<nav class="navbar">
            

    <div class="brand">
        <!-- <Link to='/'> -->
            <a [routerLink]="['/bloglist']">
                <img [src]="'../../assets/logo28.png'" width="185" height="35" alt="" />
            </a>
        <!-- </Link> -->
    </div>

    <div class="blog-wrap">
            <p class="nav-buttonwrap" to="/">
                <a style= "color: aliceblue;" [routerLink]="['/bloglist']">
                    Blogs
                </a>
                
            </p>
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent15"
            aria-controls="navbarSupportedContent15" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
        </button> -->
    </div>
</nav>