.nav-header-wrapper{
  margin: 10px;
}

.navbar{
  /* START: The code for sticky navbar */
  position: fixed;
  top: 0;
  width:100%;
  /* END */
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
  height: 90px;
  /* min-width: 1000px; */
  background-image: radial-gradient(ellipse at center bottom, rgba(121, 22, 221, 0.7), rgba(59, 0, 135, 0.7) 40%, rgb(59, 0, 135));

  opacity: .96;
  /* position: relative; */
  z-index: 300;
  box-shadow: 0 0 30px 5px rgba(0,0,0,.8);
  border-bottom: 1px solid rgb(40, 0, 135);
  /* border-bottom: 1px solid #093A64; */
  padding: 0 0 0 15px;
  transition: all .3s cubic-bezier(0.6,.2,.1,1) 0s;
  /* overflow: hidden; */
  /* grid-template-columns: 1fr; */


}  
.brand{
  /* top: 0; */
  margin-left: 85px;
  margin-top: 20px;
  height: 80px;
  margin-bottom: 25px;
  
}

a:link {
  text-decoration: none;
}

.blog-wrap{
  top: 0;
  padding-right: 50px;
  margin-right: 65px;
  margin-top: 35px;
  height: 80px;
  margin-bottom: 20px;
  color: white;
}

.nav-buttonwrap{
  margin-left: 600px;
  margin-top: 2px;
  /* padding-right: 10px; */
  color: #f7fafc;
  /* -webkit-transition: all 150ms ease-in-out; */
  /* transition: all 150ms ease-in-out; */
  font-size: 18px;
  font-weight: 800;
  width: 80px;
  padding: 2px;

  text-align: center;

}
.nav-buttonwrap:hover {
  /* box-shadow: 0 0 5px 0 #3498db inset, 0 0 2px 2px #3498db; */
  border-radius: 13px;
  color: rgb(240, 240, 240);
  background-color:rgb(226, 188, 19);
  /* border: 1px #20A9DE; */
  width: 80px;
  padding: 2px;
  /* width: 100px; */
}
.nav-footer-links-wrapper{
  display: float;
  justify-content: center;
}
.nav-footer-link {
  color:white;
  margin-left: 120px;
  margin-right: 120px;

}
@media screen and (max-width: 1090px){
  .nav-buttonwrap{
    margin-left: auto;
  }

}
@media screen and (max-width: 768px){

  .navbar{
    display: absolute;
    padding-left: 26%;
  }

  .brand{
    margin: 25px 10px;
    /* text-align: center; */
  }
  .blog-wrap{
    display: none;
  }
}
