<div class="signup-wrap">
  <div class="signup-form">
    <div class="signup-header">
        Signup
    </div>
  
    <input class="username-field" #username type='text' placeholder='username'>
    <input class="email-field" #email type='text' placeholder='email'>
    <input class="password-field" #password type='password' placeholder='password'>
    <div class="signup-btn">
      <button (click)="signup(username.value, email.value, password.value)">Sign Up</button>
    </div>
    <a routerLink="/login">
      <button class="btn" > Login </button>
    </a>
    <!-- <p>{{ error?.message }}</p>
    <p *ngIf="error">{{ error?.error | json }}</p> -->

  </div>


</div>