
<div class="blog-list">
    <a  *ngFor= "let blog of blogs" [routerLink]="['/bloglist', blog.id]">
        <li class="blog-container">
            <div class="blog-image">
                <img [src]="blog.blog_picture" width="400" height="230" alt="" />
            </div>
    
            <div class="blog-info text-left">
                <!-- <div class="blog-info-topic-wrap">
    
                </div> -->
                <div class="blog-info-topic">
                    <h2>{{blog.blog_title}}</h2>
                </div>
                
                <div class="blog-info-description">
                 {{blog.blog_description}}
                </div>
            </div>
        </li>
        <div class="blog-splitter text-center">
        </div>
    </a>
    <!-- <a (click)="onClick(blog)"  *ngFor= "let blog of blogs"> -->
        
    <!-- </a> -->
</div>

