
<div class="blog-list">
    <div  *ngFor= "let blog of blogs">
        <div class="blog-container">
            <div class="blog-image">
                <img [src]="blog.blog_picture" width="400" height="230" alt="" />
            </div>
    
            <div class="blog-info text-left">
                <!-- <div class="blog-info-topic-wrap">
    
                </div> -->
                <div class="blog-info-topic">
                    <h2>{{blog.blog_title}}</h2>
                </div>
                
                <div class="blog-info-description">
                    <p>{{blog.blog_description}}</p>
                </div>
            </div>
        </div>
        <div class="blog-splitter text-center">
        </div>
    </div>
</div>

