<footer class="footer">
    <div class="footer-section">
        <div class="footer-wrap">

            <div class="footer-left">
                <!-- <NewsLetter/> -->
 
            </div>

            <div class="footer-right text-center">

            </div>
        </div>
    </div>
    <!-- {/* The Footer Bottom Section  */} -->
    <div class="footer-bottom">
        <!-- {/* The Footer Brand */} -->
        <div class="footer-bottom-left ">
            <div class="footer-bottom-left-wrapper">
                <div class="footer-logo-wrapper text-right">
                    <div>
                        <!-- <a class="footer-logo " href="">
                            <img [src]="'../../assets/logo32.png'" width="109" height="20" alt="" />
                        </a> -->
                    </div>

                </div>
                <div class="footer-rights-wrapper text-left">
                    <div>
                        <span class="footer-copyright text-left"> &copy;
                    <!-- <script>document.write(new Date().getFullYear())</script> -->
                            CoursaTech. All Rights Reserved
                        </span>
                    </div>

                </div>

            </div>
        </div>

        <div class="footer-bottom-right">
            <div class="social-media-links">
            </div>
        </div>

        <!-- {/* The Footer Links Wrapper */} -->
        <!-- <div class="footer-social-links">
            <div class="footer-links">
            </div>
        </div> -->

    </div>
</footer>
