.site-wrapper{
  /* background-color: #093A64; */
  background-color: rgb(31, 34, 37);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  /* min-height: auto; */
  /* display: flex; */
  /* flex-direction: column; */
  /* width: 100%; */

}

.navbar-container{
  position: sticky;
}

.content-wrap{
  padding-top: 0px;
  padding-bottom: 60px;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: flex-start;
  flex: 1 1 0%;
  min-height: 100vh;
}
