
<div class="site-wrapper">
  
  <!-- <Router> -->
    <div class="navbar-container" top={0} bottomBoundary={260}>
      <app-navbar></app-navbar>
    </div>

    <div class="content-wrap">
      <!-- <Route exact path='/'>
        <GetBlogs />
      </Route> 
      <Route path='/blog/:blogId' component={GetBlogDetail} /> -->

      <app-blog-list></app-blog-list>
      <!-- <app-blog-detail></app-blog-detail> -->
    </div>


    <!-- <div> -->
      <!-- {/* <NewsLetter/> */} -->
    <!-- </div> -->
    <!-- <Footer /> -->
  <!-- </Router> -->
  <app-footer></app-footer>
</div>